<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat Room: {{room}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



    <div class="message-container" id="message-container">
      <!-- <span *ngFor="let message of messageList">
        <div class="message user">
          {{ message.message }}
        </div>
      </span> -->
        <!-- Örnek mesajları buraya ekleyin -->

        <div class="" *ngFor="let msg of messageList">
          <div *ngIf="msg.message && msg.message.length > 0">


          <div
            *ngIf="msg.username === username"
            class="message user"
            >
           <span> {{ msg.message }}</span>
          </div>

          <div
          *ngIf="msg.message && msg.username !== username "
          class="message other"
          >
         <b>{{msg.username}}</b> <br>
         <span> {{ msg.message }}</span>
          </div>




          </div>
        </div>




        <!-- <div class="message other">Harika, herhangi bir sorunuz var mı?</div> -->
    </div>
    <div class="footer">
      <div class="input-container">

          <input [(ngModel)]="newMessage" id="message-input" (keyup)="$event.keyCode === 13 && sendMessage()" />
          <button id="send-button" (click)="sendMessage()">Send Message</button>
      </div>
  </div>



  <!-- <div *ngFor="let message of messageList">
    <li>
        {{message}}
    </li>
</div> -->





</ion-content>
