<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/anasayfa"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">username</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" class="ion-margin-top" [disabled]="form.invalid">Login</ion-button>



  </form>


</ion-content>
